eval "$(devbox generate direnv --print-envrc)"

export PGHOME=$(pwd)/postgres
export PGSERVEROPTIONS="-c unix_socket_directories=${PGHOME} -c log_statement=all"
export PGDATA=${PGHOME}/data
export LANG="en_US.utf8"
export LC_ALL="en_US.utf8"
export LC_CTYPE="en_US.utf8"

source_env_if_exists .envrc.private
