/.big-config/.clj-kondo/
/.big-config/.cpcache/
/.big-config/.lsp/
/.big-config/.nrepl-port
/.clj-kondo/
/.cpcache/
/.devenv.flake.nix
/.devenv/
/.envrc
/.envrc.private
/.lsp/
/.nrepl-port
/bin/init.sql
/bin/postgres.sh
/bin/shell.nix
/devenv.nix
/devenv.yaml
/justfile
/migrations/dbconfig.yml
/shell.nix
