{:tasks
 {:requires ([clojure.string :as str])
  build {:doc "setup the dev environment"
         :task (shell {:dir ".big-config"} "bb render devenv:build -- module profile")}
  just {:doc "setup the dev environment and run a recipe"
        :task (do (run 'build)
                  (shell (str/join " " (into ["just"] *command-line-args*))))}
  tidy {:doc "tidy clojure files"
        :task (do (shell "clojure-lsp clean-ns")
                  (shell "clojure-lsp format"))}}}
