<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n"></PatternLayout>
    </Console>
    <Syslog name="SyslogAppender" host="localhost" port="5140" protocol="UDP" facility="LOCAL0" connectTimeoutMillis="0">
      <PatternLayout pattern="%msg%n"></PatternLayout>
    </Syslog>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="ConsoleAppender"></AppenderRef>
      <AppenderRef ref="SyslogAppender"></AppenderRef>
    </Root>
  </Loggers>
</Configuration>
