{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.12.3"}
           io.github.amiorin/big-config     {:git/sha "ba2d085e0d317506065fb6e77a0510dc51cef94a"}
           cheshire/cheshire                {:mvn/version "6.1.0"}
           ring/ring-codec                  {:mvn/version "1.3.0"}
           com.cognitect.aws/api            {:mvn/version "0.8.774"}
           com.cognitect.aws/endpoints      {:mvn/version "871.2.35.6"}
           com.cognitect.aws/secretsmanager {:mvn/version "871.2.29.35"}}}
