{:data-fn amiorin.rama-jdbc/data-fn
 :template-fn amiorin.rama-jdbc/template-fn
 :post-process-fn amiorin.rama-jdbc/post-process-fn
 :transform [["build" ""
              {"shell.nix" "shell.nix"
               "envrc" ".envrc"
               "justfile" "justfile"}
              :only]
             ["build" "bin"
              {"postgres.sh" "postgres.sh"
               "shell.nix" "shell.nix"
               "init.sql" "init.sql"}
              :only]
             ["build" "migrations"
              {"dbconfig.yml" "dbconfig.yml"}
              :only]
             ["build" "test/rama_jdbc"
              {"ig_keys.clj" "ig_keys.clj"}
              :only]]}
